*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/BG/calculator.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.calculator-body{
    width: 95%;
    background: #eee;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 35px 10px 20px 10px;
    border-radius: 25px 15px;
    box-shadow: 0px 0px 10px 6px rgb(19, 16, 16) inset;
    /* display: none; */
}

.calculator-screen{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 90px;
    background: rgb(31, 27, 27);
    border-radius: 8px 5px;
    box-shadow: 0px 4px 8px 5px rgb(7, 7, 7) inset;
    padding: 8px 13px;
    color: whitesmoke;
    font-size: 16px
}

.currentText, .previousText{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.previousText{
    font-size: 17px;
    font-weight: 650;
}

.calculator-keys{
    padding: 10px 0px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,70px);
    row-gap: 10px;
    column-gap: 10px;
}

.span_2{
    grid-column: span 2;
}

button{
    background: none;
    outline: none;
    border: none;
    background: grey;
    box-shadow: 0px 0px 8px 8px rgb(43, 41, 41) inset;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    transition:transform .15s ease-in-out;
}

button:hover{
    opacity: 90%;
}

button:active{
    transform: translateY(-3px);
}


@media only screen and (min-width: 460px){
    .calculator-body{
        width: 70%;
    }
}

@media only screen and (min-width: 700px){
    .calculator-body{
        width: 50%;
    }
}

@media only screen and (min-width: 900px){
    .calculator-body{
        width: 40%;
    }
}

@media only screen and (min-width: 1020px){
    .calculator-body{
        width: 30%;
    }
}